* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 2.6rem;
  width: 100%;
  background-color: #e99869;
  position: relative;
}

.container {
  max-width: 120rem;
  width: 100%;
  margin: 10rem auto;
  min-height: calc(100vh - 20rem);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.447);
}

.btn {
  border: none;
  font-size: 3rem;
  text-transform: uppercase;
  cursor: pointer;
}

.img {
  width: 20rem;
  position: absolute;
  z-index: -1;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.447);
}
.img-1 {
  top: -10%;
  left: 20%;
  rotate: 50deg;
}
.img-2 {
  top: 20%;
  left: 80%;
  rotate: 50deg;
}
.img-3 {
  top: 30%;
  left: 10%;
  rotate: 120deg;
}
.img-4 {
  top: 90%;
  left: 20%;
}
.img-5 {
  top: -20%;
  left: 60%;
}
.img-6 {
  top: 80%;
  left: 0;
  rotate: 100deg;
}
.img-7 {
  top: 85%;
  left: 80%;
  rotate: 60deg;
}
.img-8 {
  top: -10%;
  left: 0%;
  rotate: 160deg;
}
.img-9 {
  top: -18%;
  left: 90%;
  rotate: 140deg;
}
.img-10 {
  top: 7%;
  left: 5%;
}
.img-11 {
  top: 42%;
  left: 89%;
}
.img-12 {
  top: 90%;
  left: 87%;
}
.img-13 {
  top: -25%;
  left: 38%;
  rotate: 40deg;
}
.img-14 {
  top: 100%;
  left: 50%;
  rotate: 40deg;
}
.img-15 {
  top: 50%;
  left: 90%;
}

.element1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 1rem;
}
.element1-h1 {
  margin-bottom: 8rem;
  text-transform: uppercase;
  font-size: 6rem;
  background-color: #a596cb;
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.447);
}
.element1-h2 {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 2.6rem;
}
.element1 .players-names {
  margin-bottom: 5rem;
}
.element1 .enter-player-name {
  height: 5rem;
  width: 30rem;
  border: 5px solid #383a72;
  color: #383a72;
  border-radius: 1rem;
  font-size: 3rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.447);
}
.element1 .enter-player-name:first-child {
  margin-right: 4rem;
}
.element1 .enter-player-name::-moz-placeholder {
  font-size: 2.4rem;
  padding-left: 1.8rem;
  letter-spacing: 4px;
}
.element1 .enter-player-name:-ms-input-placeholder {
  font-size: 2.4rem;
  padding-left: 1.8rem;
  letter-spacing: 4px;
}
.element1 .enter-player-name::placeholder {
  font-size: 2.4rem;
  padding-left: 1.8rem;
  letter-spacing: 4px;
}
.element1 .start-btn {
  padding: 1rem 2rem;
  background-color: #383a72;
  color: #fff;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.447);
}
.element1 .start-btn:hover {
  background-color: #46498e;
}

.element2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16rem;
}

.element3 {
  position: relative;
  display: flex;
  border-radius: 3rem;
}
.element3 .roll {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 3.4rem;
  background-color: #383a72;
  color: #fff;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.447);
}
.element3 .roll:hover {
  background-color: #46498e;
}
.element3 .store {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.4rem;
  padding: 0.8rem 2rem;
  background-color: #a596cb;
  color: #fff;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.447);
}
.element3 .store:hover {
  background-color: #8d80ad;
}
.element3 .player-icon {
  position: absolute;
  top: 4rem;
  left: 35%;
}
.element3 .player {
  width: 50%;
  text-align: center;
  border: 2px solid #ef7c5e;
  border-radius: 1rem;
}
.element3 .player-name {
  font-size: 4rem;
  margin-top: 3rem;
  margin-bottom: 12rem;
}
.element3 .player-dice {
  margin-bottom: 20rem;
}
.element3 .player-img {
  width: 10rem;
}
.element3 .player-score {
  margin-bottom: 1rem;
}
.element3 .player-current-score {
  font-weight: bold;
}
.element3 .player1 {
  background-color: #fff;
}
.element3 .player2 {
  background-color: #ef7c5e;
}

.element4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #d84a5d;
  height: 100vh;
}
.element4 .winner {
  font-size: 8rem;
  margin: 10rem 0;
  padding: 4rem;
  border-radius: 3rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.447);
}
.element4 .winner-name {
  text-transform: uppercase;
}
.element4 .start-again {
  padding: 1rem 2rem;
  background-color: #e99869;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.447);
}
.element4 .start-again:hover {
  background-color: #ef7c5e;
}/*# sourceMappingURL=style.css.map */