* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  position: relative;
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
  font-size: 2.6rem;
  background-color: #72bfcd;
  overflow: hidden;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 120rem;
  width: 100%;
  height: 60rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4470588235);
}

.btn {
  border: none;
  font-size: 3rem;
  text-transform: uppercase;
  cursor: pointer;
}

.img {
  position: absolute;
  width: 20rem;
  z-index: -1;
}
.img-1 {
  top: -10%;
  left: 20%;
  rotate: 50deg;
}
.img-2 {
  top: 20%;
  left: 80%;
  rotate: 50deg;
}
.img-3 {
  top: 30%;
  left: 10%;
  rotate: 120deg;
}
.img-4 {
  top: 90%;
  left: 20%;
}
.img-5 {
  top: -20%;
  left: 60%;
}
.img-6 {
  top: 80%;
  left: 0;
  rotate: 100deg;
}
.img-7 {
  top: 85%;
  left: 80%;
  rotate: 60deg;
}
.img-8 {
  top: -10%;
  left: 0%;
  rotate: 160deg;
}
.img-9 {
  top: -18%;
  left: 90%;
  rotate: 140deg;
}
.img-10 {
  top: 7%;
  left: 5%;
}
.img-11 {
  top: 42%;
  left: 89%;
}
.img-12 {
  top: 90%;
  left: 87%;
}
.img-13 {
  top: -25%;
  left: 38%;
  rotate: 40deg;
}
.img-14 {
  top: 100%;
  left: 50%;
  rotate: 40deg;
}
.img-15 {
  top: 50%;
  left: 90%;
}

.enter-players-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
}
.enter-players-element-h1 {
  margin-bottom: 8rem;
  text-transform: uppercase;
  font-size: 6rem;
  background-color: #679289;
  padding: 1rem 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4470588235);
}
.enter-players-element-h2 {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 2.6rem;
}
.enter-players-element .players-names {
  margin-bottom: 5rem;
}
.enter-players-element .enter-player-name {
  height: 5rem;
  width: 30rem;
  color: #1d7874;
  font-size: 3rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4470588235);
  padding-left: 1.8rem;
}
.enter-players-element .enter-player-name:first-child {
  margin-right: 4rem;
}
.enter-players-element .enter-player-name::placeholder {
  font-size: 2rem;
  letter-spacing: 4px;
}
.enter-players-element .start-btn {
  padding: 1rem 2rem;
  background-color: #1d7874;
  color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4470588235);
}
.enter-players-element .start-btn:hover {
  box-shadow: 0px 0px 40px 0px #679289;
}

.timer-element {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16rem;
  background-color: #fff;
}

.game-field-element {
  display: flex;
}
.game-field-element .roll {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 3.4rem;
  background-color: #1d7874;
  color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4470588235);
}
.game-field-element .roll:hover {
  box-shadow: 0px 0px 40px 0px #679289;
}
.game-field-element .store {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.4rem;
  padding: 0.8rem 2rem;
  background-color: #679289;
  color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4470588235);
}
.game-field-element .store:hover {
  box-shadow: 0px 0px 40px 0px #679289;
}
.game-field-element .player-icon {
  position: absolute;
  top: 4rem;
  left: 35%;
}
.game-field-element .player {
  width: 50%;
  text-align: center;
}
.game-field-element .player-name {
  font-size: 4rem;
  margin-top: 3rem;
  margin-bottom: 12rem;
}
.game-field-element .player-dice {
  margin-bottom: 20rem;
}
.game-field-element .player-img {
  width: 10rem;
}
.game-field-element .player-score {
  margin-bottom: 1rem;
}
.game-field-element .player-current-score {
  font-weight: bold;
}
.game-field-element .player1 {
  background-color: #fff;
}
.game-field-element .player2 {
  background-color: #f4c095;
}

.display-winner-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f4c095;
  height: 100vh;
}
.display-winner-element .winner {
  font-size: 8rem;
  margin: 10rem 0;
  padding: 4rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4470588235);
  background-color: #ee2e31;
  color: #fff;
}
.display-winner-element .winner-name {
  text-transform: uppercase;
}
.display-winner-element .start-again {
  padding: 1rem 2rem;
  background-color: #1d7874;
  color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4470588235);
}
.display-winner-element .start-again:hover {
  box-shadow: 0px 0px 40px 0px #679289;
}/*# sourceMappingURL=style.css.map */